body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(26, 26, 26);
    overflow-x: hidden;
    box-sizing: border-box;
}

.header {
    background-color: rgb(26, 26, 26);
    box-shadow: 12px black;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.banner h1 {
    text-align: center;
    font-size: 56px;
    color: white;
}

.banner h1 span {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #3E95CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main article p span {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #3E95CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main article h6 span {
    background: #22cf12;
    background: linear-gradient(to right, #22cf12 0%, #20df07 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

main article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

main article h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: normal;
}

main article {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


@media screen and (max-width: 943px) {
    .header img {
        width: 70%
    }

    .banner h1 {
        font-size: 31px;
    }

    main article p {
        font-size: 24px;
    }

    main article h6 {
        font-size: 19px;
    }



}