@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: rgb(26, 26, 26);
    overflow-x: hidden;
    box-sizing: border-box;
}

.header {
    background-color: rgb(26, 26, 26);
    box-shadow: 12px black;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

main h2 {
    color: white;
    margin-left: 12px;
    font-family: Poppins, sans-serif;
}

main h2 span {
    color: rgb(12, 238, 5);
    font-family: Poppins, sans-serif;
}

main h4 {
    color: white;
    margin-left: 12px;
    font-family: Poppins, sans-serif;
}

main article p {
    font-family: Poppins, sans-serif;
    color: white;
    margin-left: 12px;
    font-size: 18px;

}

main article p::first-line {
    font-weight: bold;

}

main article p span {
    color: greenyellow;
    font-weight: bold;
}
main article h1 {
    color: white;
    margin-left: 12px;
    font-family: Poppins, sans-serif;
}

main img {
    width: 60%;

}

.wall1 img {
    width: 60%;
    margin-left: 12px;
}

@media screen and (max-width: 943px) {
    .header img {
        width: 70%
    }

    main img {
        width: 100%
    }

    .wall1 img {
        width: 90%
    }

}